.Day {
    width: 106px;
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex: 1 1 14.2857%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border: 0.3px solid rgba(70, 66, 66, 0.062);
    cursor: pointer;
    position: relative;
    line-height: 1.15;
    font-size: 100%;
}

.Day svg {
    width: 11px;
    height: 11px;
}





.IconMoon {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    fill: #6f7585;
    
}

.IconCloud {
    margin: 5px auto 0;
}

.IconCloud svg {
    width: 50px;
    height: 30px;
}

.Bottom {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
}


.SpanActive {
    border: 1px solid blue;
    border-radius: 100rem;
    padding-top: 2px;
    background-color: blue;
}

.DivActive {
    border: 2px solid blue;
    border-radius: 5px;
}

.DisFull {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 780px;
    background-color: white;
    padding-left: 20px;
}

.Disfulltime {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

}

.DisFullCustom {
    width: 720px;
}

.DisFullButton {
    width: 40px;
    margin-left: auto;

}

.DisFullButton button {
    background-color: white;
    color: blue;
    border: none;
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding-top: 1px;
}

.DisFullButton button:active {
    border: 1px solid blue;
    border-radius: 100rem;
}

.DivHeader {
    padding-left: 30px;
}

.custom_select {
    position: relative;

}

.custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: none;
    width: 80px;
    cursor: pointer;
}

.custom_select::after {
    content: '\25BC';
    /* Mũi tên xuống Unicode */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-49%);
    pointer-events: none;
    color: #555;
    /* Màu của mũi tên xuống */
}