.wrapper{
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    border-radius: 6px;
    background: rgba(255, 255,255);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    color: #000;
}