/* Footer.module.css */

footer {
  margin-top: 800px;

}

.footer-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 545px;


}

.left-section {
  display: flex;
  margin-left: 50px;

}

.connect {
  margin-top: 40px;
}

.right-section {
  margin-left: 500px;
}

.connect {
  display: flex;

}

.connect span {
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.social-icons a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;

}

/* Đặt kích thước cho biểu tượng trong phần social-icons */
.social-icons i {
  font-size: 20px;
  /* Đặt kích thước biểu tượng thành 20px */
}

/* Tạo vòng tròn bên ngoài biểu tượng */
.social-icons a {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: #e8e4e4;
  margin: 5px;
  color: white;
  text-decoration: none;

}

svg {
  width: 20px;
  height: 20px;
}

/* Đặt màu nền khi di chuột vào biểu tượng */
.social-icons a:hover {
  background-color: #8d99f1;
}

/* Thêm kiểu dáng cho logo */
.logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  /* Khoảng cách giữa logo và phần right-section */
}

/* Sắp xếp phần right-section */
.right-section {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  /* Khoảng cách giữa các mục */
}

.contact-info {
  display: flex;
  /* Sử dụng flexbox để xếp các mục trên 1 hàng */
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  margin: 20px 0;
  font-size: 14px;
  /* Khoảng cách ở cả hai phía trên và dưới */
  align-items: center;
}

/* Sắp xếp các phần tử trong contact-info */
.contact-info>div {
  margin: 0 20px;
  /* Khoảng cách giữa các phần tử bên trong contact-info */
}

/* Sắp xếp các mục trong contact-info */
.contact-info.horizontal {
  display: flex;
  /* Sử dụng flexbox để xếp các mục trên 1 hàng */
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  margin: 10px 0;
  /* Khoảng cách ở cả hai phía trên và dưới */
}

/* Sắp xếp các phần tử trong contact-info */
.contact-info.horizontal .contact-item {
  margin: 0 10px;
  /* Khoảng cách giữa các phần tử bên trong contact-info */
  display: flex;
  align-items: center;
  font-weight: bold;
  /* In đậm chữ */
  font-size: 15px;
}

/* Dấu | giữa các khoảng trống của các chữ */
.contact-info.horizontal .contact-item:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: #333;
}

.footer-content a {
  text-decoration: none;
  color: #333;
}

.contact-info.horizontal .contact-item.centered-text {
  max-width: 600px;
  /* Đặt chiều rộng tối đa là 200px */
  word-wrap: break-word;
  /* Cho phép chèn ngắt dòng nếu nội dung quá dài */
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
}

/* Căn giữa dòng cuối cùng trong phần nội dung dài */
.contact-info.horizontal .contact-item.centered-text:last-child {
  text-align: center;
  /* Căn giữa theo chiều ngang */
}

/* Căn giữa phần nội dung trong new-contact-info horizontal */
.new-contact-info.horizontal .new-contact-item:first-child {
  font-weight: bold;
  margin-top: 20px;
}

.new-contact-info.horizontal .new-contact-item:first-child,
.new-contact-info.horizontal .new-contact-item:nth-child(2),
.new-contact-info.horizontal .new-contact-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-contact-info.horizontal .new-contact-item:nth-child(2),
.new-contact-info.horizontal .new-contact-item:nth-child(3) {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Các quy tắc CSS cho right-section */