.wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px 22px 10px 18px;
    border-bottom: 1px solid #d0d0d1;
    cursor: pointer;
    text-decoration: none;
}

.wrapper:hover{
    background-color: #1b4de4;
    color:white;
    border-radius: 5px;

    .menu{
        color: white;
    }
}
.icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.info {
    margin-left: 12px;
}
.temperature {
    font-weight: 600;
    font-size: 1,7rem;
    width: 22px;
    padding: 0 15px 0 0;
}

.location {
    flex: 1;
    line-height: 1;
}

.name {
    font-weight: 500;
}

.sub-name {
    color: rgba(22,24,35, 0.5);
    font-size: 1.4rem;
}

.menu {
    color: #1b4de4;
}

.img-weather {
    width: 64px;
    height: 64px;
    color: #e3e3e3;
    
}