// AirQuality.module.scss

.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.TodayQuality {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px; 
  border: 1px solid #ccc; 
  margin-bottom: 20px; 
}

.header {
  margin-bottom: 10px;
}

.sub-title {
  font-size: 18px;
  color: #777;
}

.sub-header {
  font-size: 14px;
  color: #777;
}

.day-title {
  margin-bottom: 10px;
}

.air-quality-list {
  list-style-type: none;
  padding: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; 
  border: 1px solid #ddd; 
}

.air-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.air-item:nth-child(even) {
  background-color: #f9f9f9;
}

.air-item h3 {
  margin: 0 0 5px;
}

.air-quality {
  font-size: 20px;
}

.air-level {
  font-size: 14px;
  color: #777;
}

.air-category {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.rate, .details {
  padding: 10px; 
}

.chart-container {
  width: 75px; 
  height: 75px; 
  margin: 0; 
  padding: 0;
  display: inline-block;
  position: relative;
}

.chart-label {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}

.chart-column {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}





