.wrapper {
    width: 100%;
    background-color: #59516e;
    padding: 11px 11px 11px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header {
    min-width: 100%;
    display: flex;
    padding: 0 100px;
    align-items: center;
}

.logo {
    width: 60px;
    height: auto;
}

.titleAndLogo {
    display: flex;
    align-items: center;
}

.title {
    font-size: 20px;
    margin: 0;
    margin-left: 8px;
}


.rightContent {
    display: flex;
    align-items: center;
    width: 147px;
    height: 42px;

    button {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #59516e;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #fff;
    }

    .icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}

.location {
    margin-right: 10px;
    border-right: 1px solid #fff;
    padding: 0 10px 0px 0px;
}
.temperature {
    margin-right: 10px;
}

.dropdownContainer {
    position: relative;
}

.dropdown {
    width: 250px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #4c4b65;
    color: white;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
}

.dropdown::after {
    content: "\25BC";
    /* Unicode character for down arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sub-header {
    background-color: #353142;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .location-temp {
        background-color: #7a748b;
        height: 40px;
        padding-left: 133px;
        display: flex;
        align-items: center;
        border-right: 1px solid #fff;

        span {
            width: 25%;
            padding: 10px;
            color: #ffffff;
            border-right: 1px solid hsla(0, 0%, 100%, 0.2);
        }
    }

    .navbar {
        height: 40px;
        padding-left: 60px;
        text-align: center;

        div {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                padding: 12px 15px;
                font-size: 16px;
                color: #ffffff;
                text-decoration: none;

                &:hover {
                    border-bottom: 2px solid white;
                    padding-top: 2px;
                }
            }

            div {
                position: relative;

                button {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    background: none;
                    border: none;
                    color: #ffffff;
                    cursor: pointer;
                }

                .displayarrow {
                    display: none;
                }

                button:hover {
                    .displayarrowdown {
                        display: none;
                    }

                    .displayarrow {
                        display: inline;
                    }
                }

                nav {
                    display: none;
                    position: absolute;
                    top: 100%;
                    background-color: #ffffff;
                    min-width: 250px;
                    max-height: 125px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;

                    div {
                        border-radius: 5px;

                        div {
                            height: auto;
                            border-radius: 5px;

                            nav {
                                height: 150px;

                                h3 {
                                    text-align: center;
                                    font-weight: bold;
                                    font-size: 18px;
                                    color: #2b2b2b;
                                }

                                div {
                                    display: flex;
                                    justify-content: space-between;

                                    a {
                                        padding: 12px 16px;
                                        color: #2b2b2b;

                                        &:hover {
                                            color: #007bff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover nav {
                    display: block;
                }
            }
        }
    }
}
